<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Conversie tabel</title>
		{{template "style"}}
	</head>	
	<body>
		<p>
			<a href="/">Alle recepten</a>
		</p>
		<p style="font-size:10vw">
			<h1>Conversie tabel</h1>
		</p>
		<p>
			De tabel hieronder bevat het aantal mililiter voor 1 gram van het item.
		</p>
		<p>
			<form method="POST">
				<input type="submit" value="Opslaan"><br>
				<table>
					<tr><th>Item</th><th>ml voor 1 gr</th><th>Verwijderen</th></tr>
					
					{{range $index, $element := .ConvTable}}
						<tr>
							<td><label for="{{$index}}">{{$index}}</label></td>
							<td><input type="number" step="any" name="{{$index}}" value="{{$element}}" min="0.001"></td>
							<td><input type="checkbox" name="{{$index}}-delete">

						</tr>
					{{end}}
					
					{{range .AddRows}}
						<tr>
							<td><input type="text" name="{{.}}" minlenght="2"></td>
							<td><input type="number" step="any" name="value-{{.}}" value="$element" min="0.001"></td>
						</tr>
					{{end}}
				</table>
				<br>
				<input type="submit" value="Opslaan"><br>
			</form>
		</p>
	</body>
</html>