<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>New recipe</title>	
		{{template "style"}}		
	</head>	
	<body>
		<p>
			<a href="/">Return to all recipes</a>
		</p>
		<p style="font-size:10vw">
			<h1>Add new recipe</h1>
			<form method="POST">
				{{template "edit_rcp" .}}
				<p><i>If you want to manually add ingredients and steps, leave below empty and click on Next</i></p>
				<h2>Ingredients</h2>
				<textarea rows="10" cols="80" name="Ingrds"></textarea>
				<h2>Steps</h2>
				<textarea rows="10" cols="80" name="Steps"></textarea>
				<p><input type="submit" value="Next"></p>
			</form>
		</p>
	</body>
</html>