<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>New recept</title>		
	</head>	
	<body>
		<p>
			<a href="/">Alle recepten</a>
		</p>
		<p style="font-size:10vw">
			<h1>Voeg nieuw recept</h1>
			{{template "edit_rcp" .}}
		</p>
	</body>
</html>