<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Edit recipe {{.Name}}</title>		
		{{template "style"}}
	</head>	
	<body>
		<p>
			<a href="/">Return to all recipes</a> | <a href="/recipe/{{.Id}}">View recipe</a>
		</p>
		<p style="font-size:10vw">
			<h1>Edit recipe {{.Name}}</h1>
			{{define "edit_rcp"}}
				<form method="POST">
					<input type="hidden" name="Id" value="{{.Id}}">
					<table>
						<tr>
							<td><label for="Name">Name</label></td>
							<td><input type="text" name="Name" value="{{.Name}}" minlength="4" required></td>
						</tr>
						<tr>
							<td><label for="Notes">Notes</label></td>
							<td><textarea rows="3" name="Notes">{{.Notes}}</textarea></td>
						</tr>
						<tr>
							<td><label for="Dur">Cooking time (in minutes)</label></td>
							<td><input type="number" name="Dur" value="{{fminutes .Dur}}" min="0" value="0" required></td>
						</tr>
						<tr>	
							<td><label for="Persons">Number of persons</label></td>
							<td><input type="number" name="Persons" value="{{.Persons}}" min="1" required></td>
						</tr>
						<tr>
							<td><label for="Source">Recipe source</label></td>
							<td><input type="text" name="Source" value="{{.Source}}"></td>
						</tr>
						<tr>
							<td><label for="SourceLink">Source url</label></td>
							<td><input type="text" name="SourceLink" value="{{.SourceLink}}"></td>
						</tr>
					</table>
					<input type="submit" value="Save"><br>
					<h2>Ingredients</h2>
					<table>
						<tr>
							<th>Amount</th>
							<th>Unit</th>
							<th>Item</th>
							<th>Notes</th>
						</tr>
						{{range $index, $element := .Ingrs}}
							<tr>
								<td><input type="number" step="any" name="Amount{{$index}}" value="{{$element.Amount}}" min="0.001"></td>
								<td>
									<select name="Unit{{$index}}">
										{{range $.Units}}
											<option value="{{.}}" {{if eq $element.Unit .}} selected {{end}}>{{.}}</option>
										{{end}}
									</select>
								</td>
								<td><input type="text" name="Item{{$index}}" value="{{$element.Item}}"></td>
								<td><input type="text" name="Notes{{$index}}" value="{{$element.Notes}}"></td>
							</tr>
						{{end}}
						{{range .CountIngrs}}
							<tr>
								<td><input type="number" step="any" name="Amount{{.}}"></td>	
								<td>
									<select name="Unit{{.}}">
										{{range $.Units}}
											<option value="{{.}}">{{.}}</option>
										{{end}}
									</select>
								</td>
								<td><input type="text" name="Item{{.}}"></td>
								<td><input type="text" name="Notes{{.}}"></td>
							</tr>
						{{end}}
					</table>
					<h2>Steps</h2>
					<ol>
						{{range $index, $element := .Steps}}
							<li><textarea rows="3" cols="80" name="Step{{$index}}">{{$element}}</textarea></li>
						{{end}}
						{{range .CountSteps}}
							<li><textarea rows="3" cols="80" name="Step{{.}}"></textarea></li>
						{{end}}
					</ol>
					<br>
					<input type="submit" value="Save"><br>
				</form>
			{{end}}
			{{template "edit_rcp" .}}
		</p>
	</body>
</html>