<!DOCTYPE html>
<html>
	<head>
		<title>Edit recipe {{.Name}}</title>		
		<style>
			style="white-space:pre-wrap; word-wrap:break-word"
		</style>
	</head>	
	<body>
		<p>
			{{range .Errors}}
				<i>{{.}}</i><br>
			{{end}}
		</p>
		<p>
			<a href="/">Return to all recipes</a> | <a href="/{{.Id}}">View recipe</a>
		</p>
		<p>
			<h1>Edit recipe {{.Name}}</h1>
			<form method="POST">
				<input type="submit" value="Save"><br>
				<table>
					<tr>
						<td><label for="Name">Name</label></td>
						<td><input type="text" name="Name" value="{{.Name}}" required></td>
					</tr>
					<tr>	
						<td><label for="Persons">Number of persons</label></td>
						<td><input type="number" name="Persons" value="{{.Persons}}" required></td>
					</tr>
					<tr>
						<td><label for="Source">Recipe source</label></td>
						<td><input type="text" name="Source" value="{{.Source}}" required></td>
					</tr>
				<table>
				{{if .Ingrs}}
					<h2>Ingredients</h2>
					<table>
						<tr>
							<th>Amount</th>
							<th>Unit of measure</th>
							<th>Item</th>
							<th>Notes</th>
						</tr>
						{{range $index, $element := .Ingrs}}
							<tr>
								<td><input type="number" step="any" name="Amount{{$index}}" value="{{$element.Amount}}"></td>
								<td><input type="text" name="Unit{{$index}}" value="{{$element.Unit}}"></td>
								<td><input type="text" name="Item{{$index}}" value="{{$element.Item}}"></td>
								<td><input type="text" name="Notes{{$index}}" value="{{$element.Notes}}"></td>
							</tr>
						{{end}}
						{{range .CountIngrs}}
							<tr>
								<td><input type="number" step="any" name="Amount{{.}}"></td>	
								<td><input type="text" name="Unit{{.}}"></td>
								<td><input type="text" name="Item{{.}}"></td>
								<td><input type="text" name="Notes{{.}}"></td>
							</tr>
						{{end}}
					</table>
				{{end}}
				
				{{if .Steps}}
					<h2>Steps</h2>
					<ol>
						{{range $index, $element := .Steps}}
							<li><textarea rows="3" cols="80" name="Step{{$index}}">{{$element}}</textarea></li>
						{{end}}
						{{range .CountSteps}}
							<li><textarea rows="3" cols="80" name="Step{{.}}"></textarea></li>
						{{end}}
					</ol>
				{{end}}
				<br>
				<input type="submit" value="Save"><br>
			</form>
		</p>
	</body>
</html>