<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kookboek</title>
	</head>	
	<body>
		<p>
			<a href="add">Voeg nieuw recept toe</a> | <a href="conv">Werk conversie tabel bij</a>
		</p>
		<p style="font-size:10vw">
			<h1>Recepten</h1>
		</p>
		<p>
			<ul>
				{{range .Recipes}}
					<li><a href="recipe/{{.Id}}">{{.Name}}</a></li>
				{{end}}
			</ul>
		</p>
	</body>
</html>