<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Kookboek</title>
		{{template "style"}}
		<script>
			function myFunction() {
			  // Declare variables
			  var input, filter, ul, li, a, i, txtValue;
			  input = document.getElementById('myInput');
			  filter = input.value.toUpperCase();
			  ul = document.getElementById("myUL");
			  li = ul.getElementsByTagName('li');

			  // Loop through all list items, and hide those who don't match the search query
			  for (i = 0; i < li.length; i++) {
				a = li[i].getElementsByTagName("a")[0];
				txtValue = a.textContent || a.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
				  li[i].style.display = "";
				} else {
				  li[i].style.display = "none";
				}
			  }
			}
		</script>
	</head>	
	<body>
		<p>
			<a href="add">Voeg nieuw recept toe</a> | <a href="conv">Werk conversie tabel bij</a>
		</p>
		<p style="font-size:10vw">
			<h1>Recepten</h1>
		</p>
		<p>
			<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoek recepten..">
			<ul id="myUL">
				{{range .Recipes}}
					<li>
						<a href="recipe/{{.Id}}">{{.Name}}
							<i style="display:none;">
								{{range .Tags}}
									{{.}} 
								{{end}}
							</i>						
						</a>
					</li>
				{{end}}
			</ul>
		</p>
	</body>
</html>