<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
		<title>Sunscreen login</title>
		{{template "style"}}
	</head>
	<body>
		<h1>LOGIN</h1>
		<p style="font-size:10vw">
			<form method="post">
				<table>
					<tr>
						<td><label for="Username">Username</label></td>
						<td><input type="text" name="Username"></td>
					</tr>
					<tr>
						<td><label for="Password">Password</label></td>
						<td><input type="password" name="Password"></td>
					</tr>
				</table>
				<input type="submit">
			</form>
		</p>
	</body>
</html>
