<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="UTF-8">
		<title>Profile</title>
		{{template "style"}}
	</head>
	<body>
		<p>
			<a href="/">Recepten</a>
		</p>
		<h1>Profiel voor {{.Username}}</h1>
		<i>{{.Message}}</i>
		<p style="font-size:10vw">
			<form method="post">
				<h2>Wijzig gebruikersnaam en/of wachtwoord.</h2>
				<table>
					<tr>
						<td><label for="NewUsername">Nieuwe gebruikersnaam</label></td>
						<td><input type="text" name="NewUsername"></td>
						<td><i>Voer alleen een nieuwe gebruikersnaam in als je die wilt veranderen</i></td>
					</tr>
					<tr>
						<td><label for="NewPassword">Nieuw wachtwoord</label></td>
						<td><input type="password" name="NewPassword"></td>
						<td><i>Voer alleen een nieuw wachtwoord in als je die wilt veranderen</i></td>
					</tr>
				</table>
				<h2>Enter current password to confirm</h2>
				<table>
					<tr>
						<td><label for="CurrentPassword">Huidig wachtwoord</label></td>
						<td><input type="password" name="CurrentPassword"></td>
					</tr>
				</table>
				<br>
				<input type="submit">
			</form>
		</p>
	</body>
</html>