<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recipe for {{.Name}}</title>
		<style>
			body {  
				background-color: white;
				color: black;
			}
			.dark-mode {
				background-color: black;
				color: white;
			}
			.light-mode {
				background-color: white;
				color: black;
			}
		</style>
		<script>
			function darkMode() {
				var element = document.body;
				var content = document.getElementById("DarkModetext");
				element.className = "dark-mode";
				content.innerText = "Dark Mode is ON";
			}
			function lightMode() {
				var element = document.body;
				var content = document.getElementById("DarkModetext");
				element.className = "light-mode";
				content.innerText = "Dark Mode is OFF";
			}
			</script>
	</head>	
	<body>
		<p>
			<a href="/">Return to all recipes</a> | <a href="/edit/{{.Id}}">Edit recipe</a> | <a href="/conv">Maintain conversion table</a>
		</p>
		<p style="font-size:10vw">
			<h1>{{.Name}}</h1>
			<p><i>{{.Notes}}</i><p>
			<form method="POST">
				<label for="Persons">Number of persons</label>
				<input type="number" name="Persons" value="{{.Persons}}" required>
				<input type="submit" value="Adjust"><br>
			</form>
			<h2>Ingredients</h2>
				<table>
					{{range .Ingrs}}
						<tr>
							<td><input type="checkbox"></td>
							<td>{{.Amount}} {{.Unit}} {{.Item}} {{.Notes}} {{if .AltUnits}}({{.AltUnits}}){{end}}</td>
						</tr>
					{{end}}
				</table>				
			<h2>Steps</h2>
			<ol>
				{{range .Steps}}
					<li>{{.}}</li>
				{{end}}
			</ol>
			<br>
			{{if ne .Source ""}}
				<i>Source of recipe: {{.Source}}</i>
			{{end}}
		</p>
		<p>
			<br><br><br><br><br><br>
			<button onclick="darkMode()">Darkmode</button>
			<button onclick="lightMode()">LightMode</button>
		</p>
	</body>
</html>