<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Recept voor {{.Recipe.Name}}</title>
		{{template "style"}}
	</head>	
	<body>
		<p>
			<a href="/">Alle recepten</a> 
			{{if .Known}}
				| <a href="/edit/{{.Recipe.Id}}">Pas recept aan</a> | <a href="/conv">Conversie tabel</a>
				| <a href="/logout">Logout</a>
			{{else}}
				| <a href="/login">Login</a>
			{{end}}
		</p>
		<p style="font-size:10vw">
			<h1>{{.Recipe.Name}}</h1>
			<i>{{fsliceStringSpace .Recipe.Tags}}</i>
			<p><i>{{.Recipe.Notes}}</i></p>
			{{$dur := fminutes .Recipe.Dur}}
			{{if ne $dur "0"}}<p>Kooktijd: {{.Recipe.Dur}}</p>{{end}}
			<form method="POST">		
				<label for="Portions">Aantal porties</label>
				<input type="number" name="Portions" value="{{.Recipe.Portions}}" step="any" required>
				<input type="submit" value="Pas aan"><br>
			</form>
			<p>
				{{template "screenonscript"}}
				<input type="button" id="toggle" value="Screen lock uit">
				<script>
					var noSleep = new NoSleep();

					var wakeLockEnabled = false;
					var toggleEl = document.querySelector("#toggle");
					toggleEl.addEventListener('click', function() {
						if (!wakeLockEnabled) {
						noSleep.enable(); // keep the screen on!
						wakeLockEnabled = true;
						toggleEl.value = "Screen lock is aan";
						toggle.style.backgroundColor = "green";
						toggle.style.color = "white";
						} else {
						noSleep.disable(); // let the screen turn off.
						wakeLockEnabled = false;
						toggleEl.value = "Screen lock uit";
						toggle.style.backgroundColor = "";
						toggle.style.color = "";
						}
					}, false);
				</script>
			</p>
			<h2>Ingrediënten</h2>
					{{range .Recipe.Ingrs}}
						<input type="checkbox"> {{.Print}}<br>
					{{end}}			
			<h2>Stappen</h2>
			<ol>
				{{range .Recipe.Steps}}
					<li>{{.}}</li>
				{{end}}
			</ol>
			<br>
			{{if ne .Recipe.Source ""}}
				{{if eq .Recipe.SourceLink ""}}
					<i>Recept bron: {{.Recipe.Source}}</i>
				{{else}}
					<i>Recept bron: <a href="{{.Recipe.SourceLink}}">{{.Recipe.Source}}</a></i>
				{{end}}
			{{end}}
		</p>
	</body>
</html>