<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Site Visits</title>
		{{template "style"}}
	</head>
	<body>
		<p>
			<a href="/">Return to all recipes</a>
		</p>
		<p style="font-size:10vw">
			<h1>Site Visits</h1>
		</p>
		<p>
			<table>
				<tr>
					<th>Ip address</th>
					<th>Port</th>
					<th>Time</th>
					<th>Site</th>
				</tr>
				{{range .}}
					<tr>
						<td>{{.Ip}}</td>
						<td>{{.Port}}</td>
						<td>{{fdate .Time}}</td>
						<td>{{.Site}}</td>
					</tr>
				{{end}}
			</table>
		</p>
	</body>
</html>